/* Style for the table */
.volunteer-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Style for table header */
.volunteer-table th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  color: black; /* Text color for table headers */
}

/* Style for table rows */
.volunteer-row:hover {
  background-color: #f5f5f5;
}

/* Style for table cells */
.volunteer-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  color: black; /* Text color for table cells */
}

/* Style for the Clear List button */
.clear-button {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Style for the Sort dropdown button */
.sort-button {
  background-color: #0074d9;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for the Sort dropdown menu */
.dropdown-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px 0;
  z-index: 1;
}

/* Style for Sort options in the dropdown */
.dropdown-menu div {
  padding: 10px;
  cursor: pointer;
  color: black; /* Text color for dropdown options */
}

/* Style for the table headers in the dropdown menu */
.dropdown-menu div:hover {
  background-color: #000000;
}

/* Style for the filter icon */
.filter-icon {
  margin-left: 5px;
}
